# Python 2. 데이터구조

### 1. 아래 보기 중, 변경할 수 있는(mutable) 것과 변경 불가능한 것(immutable)을 분류 하시오.
### String List Tuple Range Set Dictionary

In [5]:
a = set([3,123])
a[1]= 1

TypeError: 'set' object does not support item assignment

변경할 수 있는 것: List, Dictionary, Range

변경할 수 없는 것: String, Tuple, Set

### 2. range와 slicing을 활용하여 1부터 50까지 숫자 중 홀수로 이루어진 리스트를 만드시오.

In [2]:
result = [i for i in range(1, 51, 2)]
print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

### 3. 반 학생들의 정보를 이용하여 key는 이름, value는 나이인 딕셔너리를 만드시오.

In [14]:
classmate = {'강민정': 0, '김나연': 0, '김민재': 0, '김성민': 0, '김세훈': 28, '김연수': 0, '김원정': 0, '김태형': 0, '남동규': 0, '류승민': 0, '박세진': 0, '박태웅': 0, '서용준': 27, '우지윤': 24, '이솔': 0, '이승헌': 0, '이예은': 0, '이원준': 0, '이태정': 0, '전성환': 26, '정재철': 0, '조다빈': 25, '조재형': 0, '지건영': 0, '표하민': 0, '황수현': 0}
print(classmate)

{'강민정': 0, '김나연': 0, '김민재': 0, '김성민': 0, '김세훈': 28, '김연수': 0, '김원정': 0, '김태형': 0, '남동규': 0, '류승민': 0, '박세진': 0, '박태웅': 0, '서용준': 27, '우지윤': 24, '이솔': 0, '이승헌': 0, '이예은': 0, '이원준': 0, '이태정': 0, '전성환': 26, '정재철': 0, '조다빈': 25, '조재형': 0, '지건영': 0, '표하민': 0, '황수현': 0}

## Problem

- 두 개의 정수 n과 m이 주어질 때, 반복문을 사용하여 별(*) 문자를 이용해 가로의 길이가 n, 세로의 길이가 m인 사각형을 출력하시오.

In [10]:
n = 5
m = 9
for _ in range(m):
    print("*" * n)

*****
*****
*****
*****
*****
*****
*****
*****
*****

- 과목명과 점수가 담긴 딕셔너리가 있을 때, 평균 점수를 출력하시오.

student = {'Python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}

In [11]:
student = {'Python': 80, 'algorithm': 99, 'django': 89, 'flask': 83}
print(sum(i for i in student.values())/len(student))

87.75

- 다음은 여러 사람의 혈액형(A, B, AB, O)에 대한 데이터이다. 반복문을 사용하여 key는 혈액형의 종류, value는 인원 수인 딕셔너리를 만들고 출력하시오.

blode_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']

In [13]:
result = {}
blood_types = ['A', 'B', 'A', 'O', 'AB', 'AB', 'O', 'A', 'B', 'O', 'B', 'AB']
for i in blood_types:
    if i not in result:
        result[i] = 1
    else:
        result[i] += 1
print(result)

{'A': 3, 'B': 3, 'O': 3, 'AB': 3}